html,body{
	background-color: #C7EDCC;
}
header .navbar .search button{
	background-color: #CCE8CF !important;
	border-radius: .25rem !important;
	color: rgba(0,0,0,.55);
}
footer{
	padding: 1rem 0;
}
footer .copyright a{
	text-decoration: none;
	color: #6c757d;
}
footer .copyright a:hover{
	color: #198754;
}
main{
	margin: 1rem auto;
}

.page-item .page-link{
	color: #198754;
}
.page-item .disabled .page-link{
	color: #6c757d;
}